@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
    --detailing-main-primary-rgb: rgb(56, 116, 255);
    --detailing-main-secondary-rgb: rgb(49, 55, 74);
    --detailing-main-success-rgb: rgb(37, 176, 3);
    --detailing-main-info-rgb: rgb(0, 151, 235);
    --detailing-main-warning-rgb: rgb(229, 120, 11);
    --detailing-main-danger-rgb: rgb(250, 59, 29);
    --detailing-main-light-rgb: rgb(239, 242, 246);
    --detailing-main-dark-rgb: rgb(20, 24, 36);
    --detailing-primary-text-emphasis: #003cc7;
    --detailing-secondary-text-emphasis: #525b75;
    --detailing-success-text-emphasis: #1c6c09;
    --detailing-info-text-emphasis: #005585;
    --detailing-warning-text-emphasis: #bc3803;
    --detailing-danger-text-emphasis: #b81800;
    --detailing-light-text-emphasis: #141824;
    --detailing-dark-text-emphasis: #fff;
    --detailing-primary-bg-subtle: #e5edff;
    --detailing-secondary-bg-subtle: #eff2f6;
    --detailing-success-bg-subtle: #d9fbd0;
    --detailing-info-bg-subtle: #c7ebff;
    --detailing-warning-bg-subtle: #ffefca;
    --detailing-danger-bg-subtle: #ffe0db;
    --detailing-light-bg-subtle: #f7f9fb;
    --detailing-dark-bg-subtle: #9fa6bc;
    --detailing-primary-border-subtle: #85a9ff;
    --detailing-secondary-border-subtle: #cbd0dd;
    --detailing-success-border-subtle: #90d67f;
    --detailing-info-border-subtle: #60c6ff;
    --detailing-warning-border-subtle: #ffcc85;
    --detailing-danger-border-subtle: #f48270;
    --detailing-light-border-subtle: #eff2f6;
    --detailing-dark-border-subtle: #8a94ad;
    --detailing-body-border: rgba(20, 24, 36, 0.25);
    --detailing-body-bg: #f2f2f2;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

dialog {
    margin: auto;
}

.sidebar-menu span.font-24 {
    font-size: 24px;
}

body {
    display: flex;
    height: 100vh;
    background: var(--detailing-body-bg);
    /* overflow: hidden; */
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: end;
    align-items: center;
    border-right: 1px solid var(--detailing-body-border, 0.1);
    background: white;
}

.sidebar .sidebar-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.sidebar-menu-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.sidebar-userdetails {
    margin-bottom: 10px;
}
.sidebar-userdetails .userdetails {
    margin-bottom: 20px;
}

.userhelp {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    align-items: center;
    scale: 0.8;
}

.userhelp p {
    flex-shrink: 1;
}

.userhelp:hover {
    color: var(--detailing-main-info-rgb);
    cursor: pointer;
}



.content-area {
 width: 100%;
}

.content-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

dialog#pto_request_dialog * {
    /* outline: 1px solid blue; */
}

dialog#pto_request_dialog {
    width: 35%;
    height: 50%;
    min-height: 350px;
    min-width: 350px;
    overflow: hidden;
    padding: 1em;
    border: none;
    border-radius: 1em;
}

dialog {
  margin: auto;
  padding: 2rem;
  border: none;
  border-radius: 6px;
  opacity: 0;
  transition: all 0.2s allow-discrete;
}

dialog[open] {
  opacity: 1;
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s allow-discrete;
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog-header {
    position: relative;
}

.dialog-header span {
    position: absolute;
    right: -7.5px;
    top: -7.5px;
    cursor: default;
    color: var(--detailing-main-danger-rgb);
    opacity: 80%;
}

.dialog-form {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dialog-form #textarea_ptoreason {
    width: 100%;
    height: 100px;
    resize: none;
}


button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.btn-info {
  background-color: var(--detailing-main-info-rgb);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
}


.table-area{
    padding: 2em;
display: flex;
justify-content: center;
}

.table-wrapper{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 6px;
    justify-content: center;
}




/* 
.sidebar{
    background-color: #D9D9D9;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 250px;
    height: 100%;
    justify-content: end;
    padding-bottom: 50px;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}


.sidebar-menu span{
    text-align: center;
}

.sidebar-userdetails{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.content-area{
    margin: ;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.content-header{
    display: flex;
    justify-content: space-between;
}



.table-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
table{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border-collapse: collapse;
    
}

table th{
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
}
table td{
    padding-bottom: 10px;
    padding: 10px 10px;
    display: table-cell;
    
}

table th,tr{
    text-align: center;
}


td.req-status-approved{
    display: block;
    border: 1px solid var(--detailing-success-border-subtle);
    background-color: var(--detailing-success-bg-subtle);
    color: var(--detailing-main-success-rgb);
    border-radius: 10px;
    font-weight: bold;
}

td.req-status-waitlist{
    border: 1px solid rgb(172, 160, 2);
    background-color: rgb(243, 162, 40);
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

td.req-status-waitlist:hover{
    border: outset;
    border: 1px solid rgb(172, 160, 2);
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
} */
